* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;  
  }
  .mainContainer{
      width: 100%;
      background-color:#f6fcff ;
      margin-top: -10px;
      display: block;
  }
  .gridview{
      display: block;
  }
  .header1{
      height: 70px;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      margin:10px;
  }
  .leftContainer{
    display: none;
  }
  .rightContainer{
      display: none;
  }
  .menu {
    display: inline-block;
    cursor: pointer;
    width: 21px;
    height: 21px;
    margin: 15px 20px;
    padding: 5px 5px;
    box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
    background-color:#ffffff;
    border-radius:50%;
    overflow: auto;
    visibility: visible;
  }
  .support{
      visibility: hidden;
  }
  
  .linetop, .linemiddle, .linebottom {
     width: 14px;
    height: 2px;
    margin: 3px 0 0;
    border-radius: 1px;
    background-color: #009cde;
    margin-left:3px;
  }
  .linetop{
  margin-top:4px;
  }
  .logo1{
      width: 100px;
      height:30px ;
      margin: 15px 0px;
      grid-column-start: 2;
      grid-column-end: 5;
  }
  .setting{
      width: 30px;
      height: 30px;
      margin: 15px 15px;
  }
  .notification{
      width: 30px;
      height: 30px;
      margin: 15px 0px;
  }
  .user{
      width: 30px;
      height: 30px;
      margin: 15px 15px;
      border-radius: 20px;
  }
  /* HEADING */
  .heading{
    width: 91px;
    height: 30px;
    margin: 20px 234px 20px 20px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: black;
}
.search-container{
    width: 225px;
    height: 15px;
    margin-left: 15px;
    padding: 22px 68px 10px 30px;
    border-radius: 40px;
    box-shadow: 0 7px 15px 0 #f9fdff;
    background-color:#ffffff;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.search {
    width: 220px;
    height: 15px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border:none;
    border-radius: 10px;
    padding:10px 12px;
    outline:none;
    margin: -10px 5px 5px 10px;
    font-size: 20px;
    color: #636363;
    opacity:0.90;
    font-weight: lighter;
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  select {
    position: relative;
    top: 50px;
    left: 80px;
    height: 30px;
    width: 80px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #f6fcff;
  }

  .search:active {
    width: 220px;
    height: 15px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border:none;
    border-radius: 10px;
    padding:10px 12px;
    outline:none;
    margin: -10px 5px 5px 10px;
    font-size: 20px;
    color: #636363;
    opacity:0.90;
    font-weight: lighter;
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .card{
    width: 245px;
    height: 303px;
    margin: 20px 0px 20px 17px;
    padding: 28px 41px 36px 40px;
    border-radius: 20px;
    box-shadow: 0 7px 15px 0 rgba(23, 115, 166, 0.07);
    background-color: #ffffff;
    position: relative;
    top: 20px;
    left: 10px;
  }
  .buy-currency{
    width: 170px;
    height: 36px;
    margin: 0 134px 20px 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: black;
  }
  .what-currencies {
    width: 270px;
    height: 22px;
    margin: 21px 43px 18px 0;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #009cde;
  }
  .see-all-article {
    width: 116px;
    height: 22px;
    margin: 25px 148px 30px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color:#86c306;
  }
  /* FLEX VIEW CSS */
  
.leftContainer{
    width: 20%;
    height: 100%;
    
}
.leftheader{
    width: 100%;
    height: 150px;
}
.logoflex{
    padding: 30px;
    width: 150px;
}
.topic{
    margin-top: -45px;
    margin-left: 35px;
    margin-bottom: 10px;
    font-weight: 600;
    opacity: 0.4;
}
.leftcontent{
    width: 70%;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 35px;
}
.leftcontent2{
    width: 70%;
    height: 40px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 35px;
}
.leftcontent:hover{
    background-color:#c4e3f3 ;
}
.leftcontent2:hover{
    background-color:#c4e3f3;
}
.lefttopic{font-size: 17px;
    font-weight: 500;
    color: rgb(7, 7, 68);
    width: 200px;
}
/* RIGHT CONTAINER */
.rightContainer{
    width: 80%;
    height: 100%;
    padding: 0px;
    margin-left: 60px;
    display: block;
}
.rightheader{
    display: flex;
}
.support2{
    font-size: 35px;
    font-weight: bolder;
    padding-right: 40%;
    margin-top: 40px;
}
.headerselect{
    outline: none;
    border: none;
    background-color:#f6fcff ;
    margin-left: 10px;
}
.headerbutton{
    width: 500px;
    height: 50px;
    border: none;
    background-color: rgb(97, 165, 29);
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    color: white;
    margin: 40px 0px 0px 150px;
}
.search2{
    width: 750px;
    height: 50px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 125px;
    margin-left: -825px;
    border: none;
    font-size: 20px;
    color: black;
    opacity: 0.8;
    box-shadow: 4px 4px 10px grey;
}
.rightcontent{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -850px;
}
.card{
    width: 245px;
    height: 303px;
    flex-wrap: wrap;
    margin: 0px 30px 30px 0px;
    padding: 28px 41px 36px 40px;
    border-radius: 20px;
    box-shadow: 0 7px 15px 0 rgba(23, 115, 166, 0.07);
    background-color: #ffffff;
  }
  .buy-currency{
    width: 170px;
    height: 36px;
    margin: 0 134px 20px 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: black;
  }
  .what-currencies {
    width: 270px;
    height: 22px;
    margin: 21px 43px 18px 0;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #009cde;
  }
  .see-all-article {
    width: 116px;
    height: 22px;
    margin: 25px 148px 30px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color:#86c306;
  }
  .flexview{
      display: none;
  }

 @media screen  and (min-width:700px){   
       .leftContainer{
        display: block;
       }
       .rightContainer{
           display: flex;
       }
       .flexview{
           display: flex;
       }
       .gridview{
           display: none;
       }
 }
